{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4">
    <div class="flex items-center justify-between mb-6">
        <h1 class="text-3xl font-bold mb-4">Expense Group List</h1>
        <div class="flex items-center space-x-4">
        <a href="{% url 'expense_group_create' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md transition duration-300 ease-in-out">Add New Expense</a>
        </div>
    </div>
    <ul class="list-group">
        {% for member in expense_list %}
            <div class="flex items-center">

                {{member.group_name}}
                {{member.id}}
                {% comment %} <a href="{% url 'expense_group_detail' member.group_name %}"></a> {% endcomment %}
                <a href="/expense_group/{{member.id}}">Details_link</a>
                <input type="checkbox" id="{{ member.id_for_label }}" name="{{ member.group_name }} :{{member.id}}" class="mr-2">
            </div>
            {% endfor %}
    </ul>
</div>
{% endblock %}
