{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Expense List</h1>
    <ul>
        {% for expense in expenses %}
            <li>
                Description: {{ expense.description }} <br>
                Amount: {{ expense.amount }} <br>
                Date: {{ expense.date }} <br>
                {% comment %} <a href="{% url 'expense_detail' expense.id %}">View Details</a> <!-- Link to expense detail page --> {% endcomment %}
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
