{% extends 'base.html' %}

{% load tailwind_filters %}
{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mb-4">Create Expense Group</h1>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="groupname">Group Name</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="groupname" type="text" placeholder="Group Name" name="groupname">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Members</label>
            <!-- {% for member in form.members %}
            <div class="flex items-center">
                <input type="checkbox" id="{{ member.id_for_label }}" name="{{ member.name }} :{{member.id}}" class="mr-2">
                <label for="{{ member.id_for_label }}">{{ member.choice_label }}</label>
            </div>
            {% endfor %} -->
            {% for member in expense_list %}
            <div class="flex items-center">

                {{member.group_name}}
                {{member.id}}
                {% comment %} <a href="{% url 'expense_group_detail' member.group_name %}"></a> {% endcomment %}
                <a href="/expense_group/{{member.id}}">Details_link</a>
                <input type="checkbox" id="{{ member.id_for_label }}" name="{{ member.group_name }} :{{member.id}}" class="mr-2">
                <!-- <label for="{{ member.id_for_label }}">{{ member.choice_label }}</label> -->
            </div>
            {% endfor %}
        </div>
        <div class="flex items-center justify-between mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
