{% extends 'base.html' %}

{% block content %}
    <!-- Hero Section -->
    <div class="bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 text-white py-12 px-4">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-bold mb-4">Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
            <p class="text-lg">Manage your expenses and stay organized with the Expense Sharing App.</p>
            <p class="text-lg mt-4">You're all settled up. Awesome!</p>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            
            <!-- My Expenses Section -->
            <div class="bg-white rounded-lg p-6 shadow-md border border-gray-300">
                <h2 class="text-2xl font-semibold mb-4 text-gray-800">My Expenses</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for category in categories %}
                    <div class="border border-gray-200 p-4 rounded-lg">
                        <h3 class="text-lg font-semibold mb-2 text-gray-800">{{ category.expense_name }}</h3>
                        <p class="text-gray-600">{{ category.description }}</p>
                    </div>
                    {% empty %}
                    <p>No expense categories found.</p>
                    {% endfor %}
                </div>
            </div>
            

            <!-- Expense Groups Section -->
            <div class="bg-white rounded-lg p-6 shadow-md border border-gray-300">
                <h2 class="text-2xl font-semibold mb-4 text-gray-800">Expense Groups</h2>
                <ul>
                    {% for expense_group in expense_groups %}
                        <li>
                            <h3 class="text-lg font-semibold mb-2">{{ expense_group.group_name }}</h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Settlements Section -->
            <div class="bg-white rounded-lg p-6 shadow-md border border-gray-300">
                <h2 class="text-2xl font-semibold mb-0 text-gray-800">Settlements</h2>
                <div class="divide-y divide-gray-200">
                    {% for settlement in settlements %}
                        <div class="py-2">
                            <div class="text-lg font-semibold">Payer: {{ settlement.payer.first_name }} {{ settlement.payer.last_name }}</div>
                            <div class="text-gray-700">Payee: {{ settlement.payee.first_name }} {{ settlement.payee.last_name }}</div>
                            <div class="text-gray-700">Amount: {{ settlement.amount }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
